[submodule "ns_policies/SCoBOts_framework"]
	path = ns_policies/SCoBOts_framework
	url = https://github.com/NiklasPaprotny/SCoBOts_framework.git
[submodule "object_extraction/OC_Atari_framework"]
	path = object_extraction/OC_Atari_framework
	url = https://github.com/jeeen13/OC_Atari_framework.git
[submodule "ns_policies/blendrl"]
	path = ns_policies/blendrl
	url = https://github.com/NiklasPaprotny/blendrl.git
[submodule "object_extraction/HackAtari"]
	path = object_extraction/HackAtari
	url = https://github.com/k4ntz/HackAtari.git
[submodule "ns_policies/insight_oc"]
	path = ns_policies/insight_oc
	url = https://github.com/maxschin/insight.git
